.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

h1{
  font-weight: 600;
  font-size: 24px;
  
}

.line {
  border-top: 1px solid #ccc; /* You can adjust the color and thickness as needed */
  margin: 20px 0; /* Adjust the margin to control the space between elements */
}

